$black: #000000;
$light-black: rgba(
  $color: $black,
  $alpha: 0.5
);
$light-black-2: rgba(
  $color: $black,
  $alpha: 0.8
);

$white: #ffffff;
$gray: #f2f2f2;

$green: #4bcfa0;
$green-1: #50daa8;

$error: #e43f3f;
