<template>
  <main class="catalog">
    <BlockCatalog />
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useStore } from 'vuex'

import BlockCatalog from '../blocks/BlockCatalog/index.vue'

import { ActionTypes } from '../../types/action-types'

export default defineComponent({
  name: 'Catalog',
  components: {
    BlockCatalog
  },
  async setup() {
    const store = useStore()

    await store.dispatch(ActionTypes.GET_PRODUCTS)
  }
})
</script>

<style lang="scss"></style>
