<template>
  <div class="card" tabindex="1" @click="createModal(product, 'form')">
    <div class="card__category">{{ product.category }}</div>
    <div class="card__name">{{ product.name }}</div>
    <div class="card__price">
      <span class="card__currency">$</span>
      {{ product.price }}
    </div>
    <BaseButton class="card__button" variant="outline" size="sm" type="button">
      Buy
    </BaseButton>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

import BaseButton from '../../base/BaseButton.vue'

import useAdd from '../../../hooks/add'

import { Product } from '../../../types/product-types'

export default defineComponent({
  name: 'BlockCatalogCard',
  components: {
    BaseButton
  },
  props: {
    product: {
      type: Object as PropType<Product>,
      required: true
    }
  },
  setup() {
    const { createModal } = useAdd()

    return { createModal }
  }
})
</script>

<style lang="scss">
.card {
  display: grid;
  grid-template-columns: 70% 23%;
  grid-template-areas: 'category category' 'name name' 'price button';
  grid-auto-rows: minmax(min-content, max-content);
  gap: 10px 20px;
  height: 256px;
  padding: 30px;
  border-radius: 24px;
  cursor: pointer;
  background-color: $white;
  transition: box-shadow 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

  &:hover,
  &:focus,
  &:active {
    outline: none;
    box-shadow: 24px 24px 40px rgba(75, 207, 160, 0.08);
  }

  &__category {
    grid-area: category;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $light-black;
  }

  &__name {
    grid-area: name;
    overflow: hidden;
    font-size: 40px;
    letter-spacing: -0.02em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__price {
    grid-area: price;
    padding-top: 30px;
    overflow: hidden;
    font-size: 60px;
    letter-spacing: -0.02em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__currency {
    position: relative;
    top: 12px;
    grid-area: button;
    margin-right: -10px;
    font-size: 30px;
    vertical-align: top;
  }

  &__button {
    align-self: center;
    justify-self: start;
    margin-top: 30px;
  }

  &:hover &__button,
  &:focus &__button,
  &:active &__button {
    color: $white;
    background-color: $green;
  }

  @media only screen and (max-width: 1199.98px) {
    grid-template-columns: 70% 25%;

    &__button {
      justify-self: stretch;
    }
  }
}
</style>
