<template>
  <div class="grid">
    <BlockCatalogCard
      v-for="(product, index) in products"
      :key="index"
      :product="product"
      class="grid__item"
    />
    <BaseButton
      class="grid__button"
      type="button"
      @click="createModal(cheapProduct, 'form')"
    >
      Buy cheapest
    </BaseButton>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useStore } from 'vuex'

import BlockCatalogCard from './BlockCatalogCard.vue'
import BaseButton from '../../base/BaseButton.vue'

import useAdd from '../../../hooks/add'

export default defineComponent({
  name: 'BlockCatalog',
  components: {
    BlockCatalogCard,
    BaseButton
  },
  setup() {
    const store = useStore()
    const { createModal } = useAdd()

    return {
      products: store.state.products,
      cheapProduct: store.getters.cheapProduct,
      createModal
    }
  }
})
</script>

<style lang="scss">
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 40px;
  max-width: 1160px;
  padding: 105px 15px;
  margin: 0 auto;

  &__button {
    grid-column: span 3;
    justify-self: center;
    max-width: 235px;
    margin-top: 40px;
  }

  @media only screen and (max-width: 1199.98px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 960px;

    &__button {
      grid-column: span 2;
    }
  }

  @media only screen and (max-width: 767.98px) {
    grid-template-columns: 1fr;
    max-width: 540px;

    &__button {
      grid-column: span 1;
    }
  }
}
</style>
