@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff2');
  src: url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
