<template>
  <div class="modal-form">
    <div class="modal-form__category">{{ product.category }}</div>
    <div class="modal-form__name">{{ product.name }}</div>
    <div class="modal-form__price">
      <span class="modal-form__currency">$</span>
      {{ product.price }}
    </div>
    <ModalFormGroup />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useStore } from 'vuex'

import ModalFormGroup from './ModalFormGroup.vue'

export default defineComponent({
  name: 'ModalForm',
  components: {
    ModalFormGroup
  },
  setup() {
    const store = useStore()

    return { product: store.state.modal.productData }
  }
})
</script>

<style lang="scss">
.modal-form {
  &__category {
    margin-bottom: 10px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: $light-black;
  }

  &__name {
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  &__price {
    font-size: 60px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  &__currency {
    position: relative;
    top: 12px;
    margin-right: -10px;
    font-size: 30px;
    vertical-align: top;
  }
}
</style>
