<template>
  <form class="form" @submit.prevent="onSubmit">
    <BaseField
      v-for="(item, index) in data"
      :key="index"
      v-model:modelValue="item.value"
      :name="item.name"
      :type="item.name === 'number' ? 'tel' : 'text'"
      placeholder=""
      :params="item.params"
    />
    <BaseButton class="form__button" size="lg" type="submit">Order</BaseButton>
  </form>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import BaseField from '../../base/BaseField.vue'
import BaseButton from '../../base/BaseButton.vue'

import useValidation from '../../../hooks/validation'
import useClose from '../../../hooks/close'

import { ValidationSchema } from '../../../types/validation-sheme'

export default defineComponent({
  name: 'ModalFormGroup',
  components: {
    BaseField,
    BaseButton
  },
  setup() {
    const { closeModal } = useClose()

    const schema: ValidationSchema[] = [
      {
        value: '',
        name: 'name',
        params: [
          {
            type: 'required',
            error: false,
            errorMessage: 'This field in required'
          },
          {
            type: 'onlyLetters',
            error: false,
            errorMessage: 'Only letters allowed'
          }
        ]
      },
      {
        value: '',
        name: 'number',
        params: [
          {
            type: 'required',
            error: false,
            errorMessage: 'This field in required'
          },
          {
            type: 'onlyNumbers',
            error: false,
            errorMessage: 'Only numbers allowed'
          },
          {
            type: 'minLength',
            value: 12,
            error: false,
            errorMessage: 'Should contain 12 characters'
          }
        ]
      }
    ]

    const { data, checkValidity, isInvalid } = useValidation(schema)

    const onSubmit = () => {
      checkValidity()

      if (!isInvalid()) {
        console.log(data)

        // TODO: open success message
        setTimeout(closeModal, 100)
      }
    }

    return { data, onSubmit }
  }
})
</script>

<style lang="scss">
.form {
  padding-top: 30px;

  &__button {
    min-width: 100%;
    margin-top: 30px;
  }
}
</style>
