<template>
  <div class="layout">
    <slot />
    <BaseModal />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import BaseModal from '../base/BaseModal.vue'

export default defineComponent({
  name: 'Layout',
  components: {
    BaseModal
  }
})
</script>

<style lang="scss"></style>
