<template>
  <button class="button" :class="`button--${variant} button--${size}`">
    <slot />
  </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'

export default defineComponent({
  name: 'BaseButton',
  props: {
    variant: {
      type: String as PropType<string>,
      default: (): string => 'primary'
    },
    size: {
      type: String as PropType<string>,
      default: (): string => 'md'
    }
  }
})
</script>

<style lang="scss">
.button {
  height: 56px;
  padding: 0 5px;
  font-size: 16px;
  line-height: 54px;
  text-align: center;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid $green;
  transition: background-color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
    box-shadow 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
    color 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(80, 218, 168, 0.5);
  }

  &--primary {
    color: $white;
    background-color: $green;

    &:hover,
    &:focus,
    &:active {
      background-color: $green-1;
    }
  }

  &--outline {
    color: $green;
    background-color: unset;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: $green;
    }
  }

  &--sm {
    min-width: 64px;
  }

  &--md {
    min-width: 235px;
    height: 60px;
    font-size: 24px;
    line-height: 58px;
    text-transform: unset;
  }

  &--lg {
    min-width: 290px;
  }
}
</style>
