<template>
  <div
    class="form-group"
    :class="{ 'form-group--error': paramsWithError.length && !inFocus }"
  >
    <input
      v-bind="$attrs"
      :value="modelValue"
      class="form-group__field"
      @blur="handleInput"
      @focus="inFocus = true"
    />
    <div class="form-group__error-icon">
      <CloseIcon class="form-group__icon" width="20" height="20" />
    </div>
    <template v-for="(param, index) in paramsWithError" :key="index">
      <div v-if="index === 0 && !inFocus" class="form-group__error">
        {{ param.errorMessage }}
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, ref } from 'vue'

import CloseIcon from '../shared/CloseIcon.vue'

export default defineComponent({
  name: 'BaseField',
  components: {
    CloseIcon
  },
  props: {
    modelValue: {
      type: String
    },
    params: {
      type: Array
    }
  },
  setup(props, { emit }) {
    const paramsWithError = computed(() =>
      // eslint-disable-next-line
      props.params?.filter((param: any) => param.error)
    )
    const inFocus = ref(false)

    const handleInput = ({ target }: { target: HTMLInputElement }) => {
      inFocus.value = false
      emit('update:modelValue', target.value)
    }

    return { paramsWithError, inFocus, handleInput }
  }
})
</script>

<style lang="scss">
.form-group {
  position: relative;
  margin-bottom: 15px;

  &__field {
    display: block;
    width: 100%;
    height: 56px;
    padding: 0 15px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: $light-black;
    border: 1px solid rgba($color: $black, $alpha: 0.2);
    border-radius: 16px;
    transition: border 0.2s cubic-bezier(0.47, 0, 0.745, 0.715),
      box-shadow 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

    &:focus,
    &:active {
      color: $black;
      border-color: $green;
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(80, 218, 168, 0.5);
    }
  }

  &--error &__field {
    border-color: $error;
  }

  &__error-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $error;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $white;
  }

  &--error &__error-icon {
    opacity: 1;
  }

  &__error {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: $error;
  }
}
</style>
