<template>
  <div v-if="modal && modal.active" class="modal" tabindex="2">
    <div class="modal__overlay" @click="closeModal" />
    <div class="modal__body">
      <button class="modal__close" type="button" @click="closeModal">
        <CloseIcon class="modal__icon" width="20" height="20" />
      </button>
      <ModalForm v-if="modal.type === 'form'" />
      <ModalMessage v-else-if="modal.type === 'message'" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue'
import { useStore } from 'vuex'

import CloseIcon from '../shared/CloseIcon.vue'
import ModalForm from '../modals/ModalForm/index.vue'
import ModalMessage from '../modals/ModalMessage.vue'

import useClose from '../../hooks/close'

export default defineComponent({
  name: 'Modal',
  components: {
    CloseIcon,
    ModalForm,
    ModalMessage
  },
  setup() {
    const store = useStore()
    const modal = computed(() => store.state.modal)

    const { closeModal } = useClose()

    return { modal, closeModal }
  }
})
</script>

<style lang="scss">
// TODO: disable page scroll when modal open
// TODO: modal content scrolling
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 15px;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: $light-black-2;
  }

  &__body {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    flex-basis: 385px;
    max-width: 385px;
    padding: 50px;
    padding-bottom: 65px;
    border-radius: 24px;
    background-color: $white;
  }

  &__close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: $gray;
    transition: box-shadow 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(80, 218, 168, 0.5);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $black;
  }

  @media only screen and (max-width: 414px) {
    &__body {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}
</style>
