<template>
  <Layout>
    <Suspense>
      <template #default>
        <Catalog />
      </template>
    </Suspense>
  </Layout>
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent } from 'vue'

import Layout from './components/layouts/default.vue'

const Catalog = defineAsyncComponent(() =>
  import('./components/views/Catalog.vue')
)

export default defineComponent({
  name: 'App',
  components: {
    Layout,
    Catalog
  }
})
</script>

<style lang="scss"></style>
